#!/bin/sh

# Screen layout
[ -f ~/.screenlayout ] && source ~/.screenlayout

# Locate Xresources file
[ -f ~/.Xresources ] && xrdb -merge ~/.Xresources

# Hide mouse cursor
unclutter &

# Turn NumLock on
numlockx on

# Swap Esc and Caps Lock
setxkbmap -option caps:escape
