! Dracula theme
! ! general
! *.background: #150015
! *.foreground: #c5c8c6
! *.cursorColor:  #f8f8f8
! ! black
! *.color0:     #000000
! *.color8:     #4D4D4D
! ! red
! *.color1:     #FF5555
! *.color9:     #FF6E67
! ! green
! *.color2:     #50FA7B
! *.color10:    #5AF78E
! ! yellow
! *.color3:     #F1FA8C
! *.color11:    #F4F99D
! ! blue
! *.color4:     #BD93F9
! *.color12:    #CAA9FA
! ! magenta
! *.color5:     #FF79C6
! *.color13:    #FF92D0
! ! cyan
! *.color6:     #8BE9FD
! *.color14:    #9AEDFE
! ! white
! *.color7:     #BFBFBF
! *.color15:    #E6E6E6

! ! Tokyo Night theme
! ! general
! *foreground: #a9b1d6
! *background: #1a1b26
! *cursorColor: #a9b1d6
! ! terminal padding color
! *borderColor: #1a1b26
! ! black
! *color0: #1a1b26
! *color8: #4e5173
! ! red
! *color1: #F7768E
! *color9: #F7768E
! ! green
! *color2: #9ECE6A
! *color10: #9ECE6A
! ! yellow
! *color3: #E0AF68
! *color11: #E0AF68
! ! blue
! *color4: #7AA2F7
! *color12: #7AA2F7
! ! magenta
! *color5: #9a7ecc
! *color13: #9a7ecc
! ! cyan
! *color6: #4abaaf
! *color14: #4abaaf
! ! white
! *color7: #acb0d0
! *color15: #acb0d0

! TokyoNight colors for Xresources
*background: #1a1b26
*foreground: #c0caf5

*color0: #15161e
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

!================
!==   URxvt    ==
!================

! Font to Fira Code Retina, 16px
URxvt.font: xft:Fira Code Retina:style=Retina:pixelsize=12

! Set Bold Font to Fira Code Bold, 16px
URxvt.boldFont: xft:Fira Code:style=Bold:pixelsize:12

! Set Italics Font to Fira Code Light, 16px
URxvt.italicFont: xft:Fira Code:style=Light:pixelsize:12

! no scrollbar
URxvt.scrollBar: false

URxvt.depth:        32

! Make urxvt background transparent
URxvt.background: [90]#150015

!===============
!==   SXIV    ==
!===============

! Background color
Sxiv.background:    #000000
Sxiv.foreground:    #ffffff
